@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">            
        </div>

        <div class="sub-header">
            <div class="sub-header-container">
                <a href="/" class="heading-text">Parliamentary Digital Service - Code Test</a>
            </div>
        </div>
            

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
