@page "/people-management"
@using UKParliament.CodeTest.Dtos
@using UKParliament.CodeTest.Web.Components.Components
@using UKParliament.CodeTest.Web.Services
@inject IPersonService PersonService

<h3>Person Management</h3>

<div class="row">
    <div class="col-md-6">
        <PersonList @ref="personList" OnEditPerson="EditPerson" />
    </div>
    <div class="col-md-6">
        @if (selectedPerson != null)
        {
            <PersonEdit Person="selectedPerson" OnSave="SavePerson" OnCancel="CancelEdit" />
        }
    </div>
</div>

@code {
    private PersonList personList;
    private PersonDto selectedPerson;

    private void EditPerson(PersonDto person)
    {
        selectedPerson = person;
    }

    private async Task SavePerson(PersonDto person)
    {
        await PersonService.UpdatePersonAsync(person);
        selectedPerson = null;
        await personList.RefreshList();
    }

    private void CancelEdit()
    {
        selectedPerson = null;
    }
}
