@using UKParliament.CodeTest.Dtos
@using UKParliament.CodeTest.Web.Services
@inject IPersonService PersonService

<h3>Person List</h3>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in persons)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.DateOfBirth.ToShortDateString()</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => OnEditPerson.InvokeAsync(person)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<PersonDto> persons;

    [Parameter]
    public EventCallback<PersonDto> OnEditPerson { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshList();
    }

    public async Task RefreshList()
    {
        persons = (await PersonService.GetPersonsAsync()).ToList();
    }
}